body {
    background-color: white;
}

.fillSpace{
    background-color: beige;
    overflow: hidden;
}

.bottleImageContainer{
    position: relative;
    height : 60%;
    width : 20%;
    min-width: 600px;
    background-color: beige;
    left: 50%;
    transform: translateX(-50%);
}

.bottleImage{
    left: 15%;
    height: 100%;
}

.topDiv{
    height: 20%;
}

.bottomDiv{
    height: 20%;
}

.bottleImageTop{
    position: relative;
    z-index: 3;
}

.bottleImageMiddle{
    position: absolute;
    z-index: 2;
}

.bottleImageBottom{
    position: absolute;
    z-index: 1;
}